.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    position: fixed;
    bottom: 0;
    width: calc(100% - 20px); /* Adjusted to fit within screen */
    background-color: white;
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    left: 10px;
    border-radius: 40px;
}

.search-bar input {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    height: 50px;
    outline: none;
}

.search-bar button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 50%;
}

.search-bar button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Style for Language Dropdown */
.search-bar select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
    outline: none;
    height: 50px;
}

/* Hover & Focus Effects */
.search-bar select:hover,
.search-bar select:focus {
    border-color: #007bff;
}
